body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,242,0);
    overflow:auto;
    display:inline-flex;
}

.low_body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    padding:120px 20px 40px;
}

#lampada{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 90px;
    cursor: pointer;
    mix-blend-mode: hard-light;
}

#lampada:hover{
    width: 100px;

}


#lateral{
    background-color: #e67e22;
    position: fixed;
    height: -webkit-fill-available;
    width: 350px;
    left: 0px;
    top: 0px;
     border-right: 1px;
     border-right-color: #000;
     border-right-style: solid;
}



.btnLateral{
    background-color: rgb(255, 242, 0);
    border-radius: 12px;
    border: 1px solid rgb(169, 169, 92);
    width: 90%;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    left: 15px;
    position: absolute;
}

.btnLateral:hover{
    background-color: rgb(192, 182, 0);
    width: 95%;
    height: 50px;
}

#Principal{
    position: fixed;
    background: linear-gradient(to right, #e67e22, rgb(255, 242, 0));
    width:  -webkit-fill-available;
    height: -webkit-fill-available;
    color: #000;
    padding: 20px;
    left: 359px;
    top: 0px;
}

#barraPesq{
    position: relative;
    top: 10%;
    left: 30%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    display: inline;
}

#nomeA{
    height: 40px;
    width: 270px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

#pesquisa {
        background: whitesmoke;
    cursor: pointer;
    height: 45px;
    width: 80px;
    border-radius: 10px;
    position:relative;
    
}

#pesquisa:hover {
    background-color: rgb(199, 195, 195);
    height: 50px;
    width: 85px;
    position: fixed;
   
}

#Titulo{
    position: relative;
    left: 350px;
}

#ListAmigos{
    background: linear-gradient(to right, #c86d1d, rgb(210, 199, 1));
    height: 600px;
    width: 650px;
    border-radius: 10px;
    border-style: groove;
    border-color: goldenrod;
    border-width: 5px;
    position: relative;
    top: 25px;
    left: 15%;
}

.amigoConta{
    position: relative;
    height: 40px;
    width: 610px;
    display: flex;
    top: 30px;
    left: 20px;
    
}

.amigoConta:hover{
    background: linear-gradient(to right, #a45b1a, rgb(159, 151, 3));
    height: 50px;
    width: 620px;
    border-radius: 10px;
    cursor: pointer;

}
    

.amigoConta button{
    position: absolute;
    right: 10px;
    top: 7px;
    height: 30px;
    width: 75px;
    color: black;
    background-color: rgb(200, 17, 17);
    border-radius: 10px;
    border-style: hidden;

}

.amigoConta button:hover{
    height: 35px;
    width: 80px;
    cursor: pointer;
}

.amigoConta h2{
    position: absolute;
    height: max-content;
    left: 20px;
    top: -20px;
}

.amigoConta p{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 40%;
    font-size: 25px;
    top: -15px;
}