.low_body{
    
    color:rgb(0, 0, 0);
    text-align: center;
    
}

h1{
    font-size: 42px;
}


html {
    background-color: rgb(255, 242, 0);
}

img {
    mix-blend-mode: multiply;
    width: 5px;
    top:7%;
    left:1%;
}

#lampada{
    size: 1cm;
    top: 2%;
    width: 90px;
    position: fixed;
    transition: 0.3s;
    
}
#lampada:hover{
    width: 100px;
    cursor: pointer

}

#formu{
    display: none;
}

#dform{
  background-color: rgb(238, 203, 3);
    border: 4px;
    border-style: solid;
    border-radius: 4%;
    border-color: rgb(0, 0, 0);
    padding: 4%;
    width: 30%;
    font-size: 160%;
    position: relative;
    top: 25%;
    left: 30%;
  min-height: 30vh;
  

}


    

.botao{

    bottom: 3%;
    left: 5%;
    width: 40%;
    height: 18%;
    border-radius: 45px;
    background: whitesmoke;
}
.botao:hover{
    background-color: #000000;
    color:antiquewhite;
     cursor: pointer;
}



#img{
    font-size: 20px;
}

textarea{
    
     background-color:rgb(255, 247, 97);
    border-style: solid;
    border-color: rgb(0, 0, 0);
}


#ideiasScroll{
    background-color: rgb(238, 203, 3);
    height: 100%;
    width: 70%;
    position: fixed;
    top :20%;
    left: 15%;
    border-radius: 10px;
    border-color: rgb(169, 169, 92);
    border-style: solid;
    z-index: -1;
}


/* CARD INDIVIDUAL DE IDEIA */
.ideia {
    background-color: rgba(255, 255, 255, 0.6); /* Fundo semi-transparente para ver o fade atrás */
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    width: 850px;
    height: 170px;
    left: 60px;
    top: 20px;
    transition: 0.3s ease;
   justify-content: center;
   margin-top: 20px;
}

.ideia:hover {
    background-color: rgb(209, 178, 3);
    transform: scale(1.03);

}

.imgIdeia {
    border: 2px solid rgb(116, 26, 26); 
    height: 150px;
    width: 120px;
    border-radius: 10px;
    background-color: #ddd; /* Cor cinza padrão caso não tenha imagem */
}

.textosIdeia {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tituloIdeia {
    margin: 0;
    font-size: 28px;
}

.descriIdeia {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.ctgIdeia{
    position: relative;
    left: 47%;
    top: -38%;
    align-items: center;
    font-size: 25px;
    display:inline-block;
    padding:8px 18px;
    background:#fff8b0;
    border-radius:20px;
    margin:15px 0 25px;
    color:#444;
    font-size:18px;
}


#edit{
    position: relative;
    bottom: -25%;
    left: 0%;
    width: 15%;
    height: 20%;
    transition: 0.3s;

    display:block;
    margin:30px 0 0 auto;
    width:180px;
    height:50px;
    border:none;
    border-radius:25px;
    background:white;
    font-size:18px;
    cursor:pointer;
}

#edit:hover{
    background-color: rgb(199, 195, 195);
    cursor: pointer;
    width: 18%;
    height: 23%;
}

